<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brasforno foi fundada em 1992 - (11) 4705-9555 - R. Rio de Janeiro, 834 - 06530-020 - Chácara do Solar I – (Fazendinha) - Santana de Parnaíba – SP</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bra-app.min.css">
</head>
<body class="_bra-contact">
<%- include('partials/header') -%>
<main>
    <section>
        <div class="_container flex flex-wrap">
            <form action="">
                <p>Nome</p>
                <input type="text" />

                <p>E-mail</p>
                <input type="text" />

                <p>Telefone</p>
                <input type="text" />

                <p>Assunto</p>
                <input type="text" />

                <p>Como nos conheceu?</p>
                <select name="">                    
                    <option value="Selecione">Selecione</option>
                    <option value="Busca do Google">Busca do Google</option>
                    <option value="Email Marketing">Email Marketing</option>
                    <option value="Outros Buscadores">Outros Buscadores</option>
                    <option value="Links patrocinados">Links patrocinados</option>
                    <option value="Outros Anúncios">Outros Anúncios</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Google+">Google+</option>
                    <option value="Indicação">Indicação</option>
                    <option value="Outros">Outros</option>
                </select>

                <p>Sua menssagem</p>
                <template></template>
            </form>
        </div>
    </section>
</main>
<%-include('partials/footer') -%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="javascript/bra-lazysizes.min.js"></script>
<script defer src="javascript/bra-main.min.js"></script>
<script defer src="javascript/bra-contact.min.js"></script>
</body>
</html>