<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brasforno foi fundada em 1992 - (11) 4705-9555 - R. Rio de Janeiro, 834 - 06530-020 - Chácara do Solar I – (Fazendinha) - Santana de Parnaíba – SP</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bra-app.min.css">
    <link rel="stylesheet" type="text/css" href="css/bra-contact.min.css">
</head>
<body class="_bra-contact">
<%- include('partials/header') -%>
<main>
    <section>
        <div class="_container flex flex-wrap">
            <h1 class="f3 tc dark-gray ma0 pt4 pb2 w-100">Mande uma mensagem para nós!</h1>
            <form class="_bra-form flex flex-wrap flex-column w-100 w-50-l pv3 f6 mb5-l" action="" method="POST">

                <div class="flex flex-wrap flex-column w-100">
                    <p class="ma0">Nome</p>
                    <input class="_bra-val w-100 w-80-l ph2 mb4 br2 ba b--light-silver" type="text" name="name" />
                </div>

                <div class="flex flex-wrap flex-column w-100">
                    <p class="ma0">E-mail</p>
                    <input class="_bra-val w-100 w-80-l ph2 mb4 br2 ba b--light-silver" type="text" name="email" />
                </div>

                <div class="flex flex-wrap flex-column w-100">
                    <p class="ma0">Telefone</p>
                    <input class="_bra-val w-100 w-80-l ph2 mb4 br2 ba b--light-silver" type="text" name="tel" />
                </div>

                <div class="flex flex-wrap flex-column w-100">
                    <p class="ma0">Assunto</p>
                    <input class="_bra-val w-100 w-80-l ph2 mb4 br2 ba b--light-silver" type="text" name="subject" />
                </div>

                <div class="flex flex-wrap flex-column w-100">
                    <p class="ma0">Como nos conheceu?</p>
                    <select class="_bra-val w-100 w-80-l ph2 mb4 br2 ba b--light-silver" name="know">                    
                        <option value="Selecione">Selecione</option>
                        <option value="Busca do Google">Busca do Google</option>
                        <option value="Email Marketing">Email Marketing</option>
                        <option value="Outros Buscadores">Outros Buscadores</option>
                        <option value="Links patrocinados">Links patrocinados</option>
                        <option value="Outros Anúncios">Outros Anúncios</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Twitter">Twitter</option>
                        <option value="Google+">Google+</option>
                        <option value="Indicação">Indicação</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>

                <div class="flex flex-wrap flex-column w-100">
                    <p class="ma0">Menssagem</p>
                    <textarea class="_bra-val w-100 w-80-l ph2 pv2 mb3 br3" name="message"></textarea>
                </div>

                <button class="_bra-submit br3 b--none white f6 ttu ph4 pv3 lh-solid lh-solid bg-dark-blue w-80-l" type="submit">Enviar</button>
            </form>
            <div class="f6 dark-gray mt4 mb5 w-100 w-50-l">  
                <div class="flex flex-wrap flex-column mb2">            
                    <strong>BRASFORNO</strong>
                    <p class="ma0">Consulte-nos! (11) 4705-9555</p>                
                    <p class="ma0">R. Rio de Janeiro, 834 Chácara do Solar I – (Fazendinha) Santana de Parnaíba – SP 06530-020</p>
                </div>  

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3661.421323513949!2d-46.88380788502517!3d-23.409142784758643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf1cf37b5554dd%3A0xc47ec5b7c2f9755d!2sR.+Rio+de+Janeiro%2C+834+-+Ch%C3%A1cara+do+Solar+I+(Fazendinha)%2C+Santana+de+Parna%C3%ADba+-+SP%2C+06530-020!5e0!3m2!1spt-BR!2sbr!4v1550160945528" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
</main>
<%-include('partials/footer') -%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="javascript/bra-lazysizes.min.js"></script>
<script defer src="javascript/bra-main.min.js"></script>
<script defer src="javascript/bra-contact.min.js"></script>
</body>
</html>