<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brasforno foi fundada em 1992 - (11) 4705-9555 - R. Rio de Janeiro, 834 - 06530-020 - Chácara do Solar I – (Fazendinha) - Santana de Parnaíba – SP</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bra-app.min.css">
    <link rel="stylesheet" type="text/css" href="css/bra-contact.min.css">
</head>
<body class="_bra-contact">
<%- include('partials/header') -%>
<main>
    <section>
        <div class="_container _bra-list flex flex-column justify-around mt5-l mt6 mb4">
            <div class="_bra-logo-fma br-100 w-50">
                <picture class="db">
                    <img class="lazyload w-100 db h-auto" src="image/fma.png" alt="Brasforno">
                </picture>
            </div>
            <a class="_bra-fma center flex flex-wrap items-center link white" href="https://api.whatsapp.com/send?phone=5519998361900" target="_blank">Entrar em contato com setor vendas<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs></defs><path d="M508.875 248.458l-160-160c-4.167-4.167-10.917-4.167-15.083 0-4.167 4.167-4.167 10.917 0 15.083l141.792 141.792H10.667C4.771 245.333 0 250.104 0 256s4.771 10.667 10.667 10.667h464.917L333.792 408.458c-4.167 4.167-4.167 10.917 0 15.083a10.634 10.634 0 007.542 3.125c2.729 0 5.458-1.042 7.542-3.125l160-160c4.166-4.166 4.166-10.916-.001-15.083z"></path></svg></a>
        </div>
    </section>
</main>
<%-include('partials/footer') -%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="javascript/bra-lazysizes.min.js"></script>
<script defer src="javascript/bra-main.min.js"></script>
<script defer src="javascript/bra-contact.min.js"></script>
</body>
</html>