<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brasforno foi fundada em 1992 - (11) 4705-9555 - R. Rio de Janeiro, 834 - 06530-020 - Chácara do Solar I – (Fazendinha) - Santana de Parnaíba – SP</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bra-app.min.css">
    <link rel="stylesheet" type="text/css" href="css/bra-contact.min.css">
</head>
<body class="_bra-contact">
<%- include('partials/header') -%>
<main>
    <section>
        <div class="_container _bra-list flex flex-wrap justify-around mt6 mb4">
            <div class="_bra-logo-rhomeo">
                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" version="1.1" viewBox="0 0 229.62 178.57" xml:space="preserve"><defs/><style>.st0{fill:#fff}</style><path d="M112.44 116.16c.62-7.21 4.5-13.53 8.47-19.38 2.68-3.89 4.5-9.01 2.44-13.59-3.44-7.71-11.79-12.06-19.94-12.77 4.54 3.23 10.53 5.73 12.47 11.41 1.11 4.91-2.94 8.82-5.95 12.13-3.58 3.5-6.17 7.96-10.14 11.08-2.86 2.35-6.73 2.02-10.2 2.31-6.37.29-12.32 3.61-18.78 2.89-4.78-.51-9.75-3.17-11.62-7.8-1.16-3.2-.71-6.99 1.19-9.82 1.25-1.96 3.61-2.57 5.63-3.4 3.29-1.02 5.11-4.17 7.38-6.51.12 2.63.19 5.26.19 7.89 5.4 1.39 10.93.15 15.82-2.27-.41-4.98-1.89-10.14-5.79-13.55-3.17-2.88-7.36-5.04-11.73-4.98-2.16 1.02-1.98 4.02-2.9 5.96-2.5-2.44-4.05-5.58-5-8.91-2.07-1.5-4.66-2.85-5.38-5.52-1.36-4.73-.8-9.74-.89-14.6 3.05.56 6.11 1.12 9.18 1.45.08-4.46-3.81-7.03-6.77-9.67 9.02-3.93 19.01-3.25 28.59-3.1 2.35-2.49 4.88-5.07 8.31-5.97 6.11-2.03 12.56-.7 18.82-.73 3.93-1.02 7.25-3.73 11.32-4.4 12.79-2.71 25.86-.66 38.21 3.3C152.29 10.82 131.89 0 108.95 0 69.48 0 37.48 32 37.48 71.47s32 71.47 71.47 71.47c3.92 0 7.77-.33 11.52-.94-.34-.57-.68-1.13-1.01-1.7-4.29-7.25-7.99-15.51-7.02-24.14z" class="st0"/><path d="M85.7 46.89c7.75-.69 15.47-1.65 23.25-1.91-2.82-1.86-5.72-3.63-8.72-5.18-4.88 2.27-9.93 4.25-14.53 7.09zM163.22 43.97c.01.01.02.03.03.04 4.66 1.16 9.18 2.8 13.49 4.84-.89-2.68-1.93-5.29-3.13-7.82-1.36-.26-2.72-.49-4.09-.67 0 0-11.61-1.97-23.66 1.49 4.18.05 8.34.43 12.47 1.08 1.54.27 3.17.61 4.89 1.04zM180.2 66.1c-3.3-1.9-6.75-3.55-10.32-4.91 0 0-10.84-4.6-23.36-4.01 4.05 1.01 8.01 2.34 11.89 3.93 1.42.62 2.93 1.33 4.5 2.15.01.01.02.03.02.04 6.39 3.31 12.19 7.56 17.35 12.5.09-1.43.15-2.87.15-4.32-.01-1.82-.1-3.61-.23-5.38zm-40.66 34.76c6.88 7.46 11.69 16.91 12.44 26.96.02.23.03.45.05.68 2.22-1.68 4.33-3.49 6.33-5.41-1.91-4.29-4.31-8.37-7.29-12.08-3.28-3.92-6.99-7.64-11.53-10.15zm22.96-16.74c-5.07-3.5-10.58-6.59-16.63-8 3.48 2.86 7.42 5.18 10.54 8.44 6.31 6.28 11.26 13.65 15.03 21.57 1.75-3.15 3.28-6.44 4.54-9.86-4.02-4.5-8.49-8.63-13.48-12.15zM51.53 178.16H36.52l-8.07-9.59H11.22v9.59H0v-18.53h31.54c1.73 0 3.2-.36 4.39-1.08 1.19-.72 1.79-1.71 1.79-2.98 0-1.41-.54-2.46-1.63-3.17-1.08-.7-2.6-1.06-4.55-1.06H0l7.32-9.43h23.3c2.06 0 4.19.19 6.39.57 2.2.38 4.21 1.06 6.02 2.03 1.81.98 3.3 2.29 4.47 3.96 1.17 1.66 1.76 3.79 1.76 6.39 0 1.41-.22 2.75-.65 4.01-.43 1.26-1.06 2.4-1.87 3.41-.81 1.01-1.81 1.87-2.98 2.57-1.17.7-2.5 1.2-3.98 1.49.61.47 1.3 1.07 2.06 1.79s1.77 1.72 3.03 2.98l6.66 7.05zM83.13 178.18h-7.14v-8.94H62.2v8.94h-7.21v-23.19h7.21v8.21H76v-8.21h7.14v23.19zM103.76 154.61c5.64 0 9.87.96 12.71 2.88 2.83 1.92 4.25 4.95 4.25 9.08 0 4.16-1.41 7.2-4.23 9.12-2.82 1.92-7.06 2.88-12.72 2.88-5.68 0-9.93-.96-12.74-2.88s-4.21-4.96-4.21-9.12c0-4.14 1.41-7.16 4.23-9.08s7.05-2.88 12.71-2.88zm0 17.92c1.8 0 3.33-.08 4.58-.23s2.26-.44 3.03-.88a3.94 3.94 0 001.68-1.82c.35-.77.52-1.79.52-3.03 0-1.25-.17-2.26-.52-3.03s-.91-1.38-1.68-1.8c-.77-.43-1.79-.72-3.03-.87s-2.77-.23-4.58-.23c-1.8 0-3.33.08-4.58.23-1.25.15-2.26.44-3.03.87s-1.33 1.03-1.68 1.8-.52 1.79-.52 3.03c0 1.25.17 2.26.52 3.03s.91 1.38 1.68 1.82c.77.44 1.79.73 3.03.88 1.25.16 2.78.23 4.58.23zM139.43 163.62c.51.9.95 1.69 1.33 2.38.38.68.72 1.29 1.01 1.82.29.53.54 1.02.76 1.46.22.44.43.87.64 1.28.18-.42.39-.84.61-1.26s.47-.91.76-1.46.62-1.15 1.01-1.82c.38-.67.83-1.46 1.33-2.36l3.71-6.59c.42-.74.94-1.33 1.58-1.79.64-.45 1.43-.68 2.38-.68.9 0 1.72.26 2.44.78.73.52 1.25 1.32 1.58 2.41l5.86 20.38h-7.14l-2.18-8.08c-.37-1.32-.68-2.47-.94-3.47-.25-.99-.47-1.96-.66-2.91-.39.81-.83 1.7-1.32 2.69s-1.12 2.22-1.91 3.73l-3.12 5.82c-.3.58-.61 1.03-.92 1.37-.31.33-.63.59-.95.78s-.67.31-1.04.36c-.37.06-.78.09-1.21.09-.44 0-.84-.03-1.21-.09s-.72-.18-1.04-.36c-.32-.18-.64-.44-.95-.78s-.62-.79-.92-1.37l-3.12-5.86c-.42-.79-.79-1.49-1.11-2.11-.32-.62-.62-1.18-.88-1.68-.27-.5-.5-.95-.69-1.37s-.39-.82-.57-1.21c-.18.92-.4 1.89-.66 2.89-.25 1-.55 2.17-.9 3.48l-2.18 8.08h-7.04l6-20.38c.32-1.09.85-1.89 1.59-2.41.74-.52 1.56-.78 2.46-.78.92 0 1.7.22 2.34.66.63.44 1.16 1.04 1.58 1.8l3.69 6.56zM193.99 172.22l-4.61 5.96h-22.32v-23.19h26.86l-4.65 6.03h-15.01v2.77h18.37l-4.13 5.27h-14.25v3.15h19.74zM212.67 154.61c5.64 0 9.87.96 12.7 2.88s4.25 4.95 4.25 9.08c0 4.16-1.41 7.2-4.23 9.12s-7.06 2.88-12.72 2.88c-5.68 0-9.93-.96-12.74-2.88s-4.21-4.96-4.21-9.12c0-4.14 1.41-7.16 4.23-9.08s7.06-2.88 12.72-2.88zm0 17.92c1.8 0 3.33-.08 4.58-.23s2.26-.44 3.03-.88a3.94 3.94 0 001.68-1.82c.35-.77.52-1.79.52-3.03 0-1.25-.17-2.26-.52-3.03s-.91-1.38-1.68-1.8c-.77-.43-1.79-.72-3.03-.87s-2.77-.23-4.58-.23c-1.8 0-3.33.08-4.58.23-1.25.15-2.26.44-3.03.87s-1.33 1.03-1.68 1.8-.52 1.79-.52 3.03c0 1.25.17 2.26.52 3.03s.91 1.38 1.68 1.82c.77.44 1.79.73 3.03.88 1.25.16 2.78.23 4.58.23z" class="st0"/></svg>
            </div>
            <button class="w-40 w-20-l tc mb3"><a class="f6 db pv2 link dark-gray" href="/">Linha RHOMEO</a></button>
            <button class="w-40 w-20-l tc mb3"><a class="f6 db pv2 link dark-gray" href="/">STELLA</a></button>
            <button class="w-40 w-20-l tc mb3"><a class="f6 db pv2 link dark-gray" href="/">STELLA KOMBI</a></button>
            <button class="w-40 w-20-l tc mb3"><a class="f6 db pv2 link dark-gray" href="/">LUNNA</a></button>
          </div>
    </section>
</main>
<%-include('partials/footer') -%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="javascript/bra-lazysizes.min.js"></script>
<script defer src="javascript/bra-main.min.js"></script>
<script defer src="javascript/bra-contact.min.js"></script>
</body>
</html>