<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brasforno foi fundada em 1992 - (11) 4705-9555 - R. Rio de Janeiro, 834 - 06530-020 - Chácara do Solar I – (Fazendinha) - Santana de Parnaíba – SP</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bra-app.min.css">
</head>
<body>
<%-include('partials/header') -%>
<main>        
    <div class="_bra-banner-principal">
      <div class="box-banner">
        <a class="db w-100" href="/">
          <picture class="top-slider-img db">
            <!-- desktop -->
            <source srcset="../image/bra-d-banner-00.png" media="(min-width: 1024px)" />
            <!-- tablet -->
            <source srcset="../image/bra-m-banner-00.png" media="(min-width: 768px)" />
            <!-- mobile -->
            <source srcset="../image/bra-m-banner-00.png" />
            <!-- desktop callback -->
            <img class="w-100 db h-auto" src="../image/bra-d-banner-00.png" alt="Especial de Natal"/>
          </picture>
        </a>
      </div>
      <div class="box-banner">
        <a class="db w-100" href="/">
            <picture class="top-slider-img db">
                <!-- desktop -->
                <source srcset="../image/bra-d-banner-00.png" media="(min-width: 1024px)" />
                <!-- tablet -->
                <source srcset="../image/bra-m-banner-00.png" media="(min-width: 768px)" />
                <!-- mobile -->
                <source srcset="../image/bra-m-banner-00.png" />
                <!-- desktop callback -->
                <img class="w-100 db h-auto" src="../image/bra-d-banner-00.png" alt="Especial de Natal"/>
            </picture>
        </a>
      </div>
      <div class="box-banner">
        <a class="db w-100" href="/">
          <picture class="top-slider-img db">
            <!-- desktop -->
            <source srcset="../image/bra-d-banner-00.png" media="(min-width: 1024px)" />
            <!-- tablet -->
            <source srcset="../image/bra-m-banner-00.png" media="(min-width: 768px)" />
            <!-- mobile -->
            <source srcset="../image/bra-m-banner-00.png" />
            <!-- desktop callback -->
            <img class="w-100 db h-auto" src="../image/bra-d-banner-00.png" alt="Especial de Natal"/>
        </picture>
        </a>
      </div>
    </div>

    <div class="w-100 bg-light-gray">
      <div class="_container">
        <div class="w-100 flex flex-wrap flex-column pv5">
            <strong class="f3 tc dark-gray">SOBRE A BRASFORNO</strong>
            <p class="f6 w-80-ns w-100 ph0-ns ph3 tc center mid-gray">A Brasforno foi fundada em 1992, nestes anos de existência a empresa vem sempre primando pela qualidade no atendimento e alta tecnologia nos equipamentos que produz e comercializa para a indústria alimentícia. Instalada em sede própria em área de 5.700 metros quadrados localizada na cidade de Santana do Parnaíba – São Paulo, a Brasforno conta em seu portfólio de produtos entre máquinas, fornos e acessórios com mais de 40 itens buscando sempre se adequar e atender a sua necessidade, tudo para oferecer o que existe de mais moderno para produção de produtos alimentícios.</p>
        </div>
        <div class="w-100 flex flex-wrap justify-around pb4">
            <div class="w-40-ns w-100 pr4-ns">
                <picture class="top-slider-img db">
                    <!-- desktop -->
                    <source srcset="https://via.placeholder.com/503x250" media="(min-width: 1024px)">
                    <!-- tablet -->
                    <source srcset="https://via.placeholder.com/503x250" media="(min-width: 768px)">
                    <!-- mobile -->
                    <source srcset="https://via.placeholder.com/503x250">
                    <!-- desktop callback -->
                    <img class="w-100 db h-auto" src="https://via.placeholder.com/503x250" alt="Especial de Natal">
                </picture>
            </div>
            <div class="w-60-ns w-100  bg-white flex flex-wrap items-center">
                <div class="w-100 ph4 pv0-ns pv4"><strong class="f3 tc dark-gray">FORNOS</strong>
                    <p class="f6 mb0">Fornos de alta tecnologia, essenciais para assar de rápida um grande volume de massas para pães, doces ou salgados.</p>
                </div>
            </div>
        </div>
        <div class="w-100 flex flex-wrap-ns flex-wrap-reverse justify-around pb4">
    
            <div class="w-60-ns w-100 bg-white flex flex-wrap items-center">
                <div class="w-100 ph4 pv0-ns pv4"><strong class="f3 tc dark-gray">INDUSTRIAIS</strong>
                    <p class="f6">Conheça a nossa linha industrial, focada em quem busca alta produtividade e tecnologia para sua empresa.</p>
                </div>
            </div>
            <div class="w-40-ns w-100 pl4-ns">
                <picture class="top-slider-img db">
                    <!-- desktop -->
                    <source srcset="https://via.placeholder.com/503x250" media="(min-width: 1024px)">
                    <!-- tablet -->
                    <source srcset="https://via.placeholder.com/503x250" media="(min-width: 768px)">
                    <!-- mobile -->
                    <source srcset="https://via.placeholder.com/503x250">
                    <!-- desktop callback -->
                    <img class="w-100 db h-auto" src="https://via.placeholder.com/503x250" alt="Especial de Natal">
                </picture>
            </div>
        </div>
        <div class="w-100 flex flex-wrap justify-around pb5">
            <div class="w-40-ns w-100 pr4-ns">
                <picture class="top-slider-img db">
                    <!-- desktop -->
                    <source srcset="https://via.placeholder.com/503x250" media="(min-width: 1024px)">
                    <!-- tablet -->
                    <source srcset="https://via.placeholder.com/503x250" media="(min-width: 768px)">
                    <!-- mobile -->
                    <source srcset="https://via.placeholder.com/503x250">
                    <!-- desktop callback -->
                    <img class="w-100 db h-auto" src="https://via.placeholder.com/503x250" alt="Especial de Natal">
                </picture>
            </div>
            <div class="w-60-ns w-100  bg-white flex flex-wrap items-center">
                <div class="w-100 ph4 pv0-ns pv4"><strong class="f3 tc dark-gray">INDUSTRIAIS</strong>
                    <p class="f6 mb0">Conheça a nossa linha industrial, focada em quem busca alta produtividade e tecnologia para sua empresa.</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="w-100 pv5">
      <div class="_container flex flex-wrap">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/PP1u9S6Yq0U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </div>

    <div class="w-100 pb5">
      <div class="_container flex flex-wrap justify-around">
          <div class="w-30-ns w-100 pb0-ns pb5">
            <a class="db link _bra-hover" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="https://via.placeholder.com/500x500" media="(min-width: 1024px)">
                  <!-- tablet -->
                  <source srcset="https://via.placeholder.com/500x500" media="(min-width: 768px)">
                  <!-- mobile -->
                  <source srcset="https://via.placeholder.com/500x500">
                  <!-- desktop callback -->
                  <img class="w-100 db h-auto" src="https://via.placeholder.com/500x500" alt="Especial de Natal">
              </picture>
              <div class="w-100 flex flex-wrap justify-center pv3">
                <strong class="f3 tc dark-gray flex flex-wrap flex-column justify-center">CATALOGO PDF</strong>      
              </div>
            </a>
          </div>
          <div class="w-30-ns w-100 pb0-ns pb5">
            <a class="db link _bra-hover" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="https://via.placeholder.com/500x500" media="(min-width: 1024px)">
                  <!-- tablet -->
                  <source srcset="https://via.placeholder.com/500x500" media="(min-width: 768px)">
                  <!-- mobile -->
                  <source srcset="https://via.placeholder.com/500x500">
                  <!-- desktop callback -->
                  <img class="w-100 db h-auto" src="https://via.placeholder.com/500x500" alt="Especial de Natal">
              </picture>
              <div class="w-100 flex flex-wrap justify-center pv3">
                <strong class="f3 tc dark-gray flex flex-wrap flex-column justify-center">FEIRAS</strong>      
              </div>
            </a>
          </div>
          <div class="w-30-ns w-100">
            <a class="db link _bra-hover" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="https://via.placeholder.com/500x500" media="(min-width: 1024px)">
                  <!-- tablet -->
                  <source srcset="https://via.placeholder.com/500x500" media="(min-width: 768px)">
                  <!-- mobile -->
                  <source srcset="https://via.placeholder.com/500x500">
                  <!-- desktop callback -->
                  <img class="w-100 db h-auto" src="https://via.placeholder.com/500x500" alt="Especial de Natal">
              </picture>
              <div class="w-100 flex flex-wrap justify-center pv3">
                <strong class="f3 tc dark-gray flex flex-wrap flex-column justify-center">INSTAGRAM</strong>      
              </div>
            </a>
          </div>
      </div>
    </div>
</main>
<%-include('partials/footer') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="../javascript/bra-main.js"></script>
</body>
</html>