<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BRASFORNO. A Brasforno foi fundada em 1992, nestes anos de existência a empresa vem sempre primando pela qualidade no atendimento e alta tecnologia - (11) 4705-9555 - R. Rio de Janeiro, 834 - 06530-020 - Chácara do Solar I – (Fazendinha) - Santana de Parnaíba – SP</title>
    <meta name="description" content="BRASFORNO. A Brasforno foi fundada em 1992, nestes anos de existência a empresa vem sempre primando pela qualidade no atendimento e alta tecnologia." />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/bra-app.min.css" />
</head>
<body class="home">
<%-include('partials/header') -%>
<main>        
    <section>
      <h1 class="dn">BRASFORNO. A Brasforno foi fundada em 1992, nestes anos de existência a empresa vem sempre primando pela qualidade no atendimento e alta tecnologia</h1>
      <div class="_bra-banner-principal">
        <div class="box-banner">
          <a class="db w-100" href="/">
            <picture class="top-slider-img db">
              <!-- desktop -->
              <source srcset="image/bra-d-banner-01.png" media="(min-width: 1024px)" />
              <!-- tablet -->
              <source srcset="image/bra-m-banner-01.png" media="(min-width: 768px)" />
              <!-- mobile -->
              <source srcset="image/bra-m-banner-01.png" />
              <!-- desktop callback -->
              <img class="lazyload w-100 db h-auto" src="image/bra-d-banner-01.png" alt="Brasforno"/>
            </picture>
          </a>
        </div>
        <div class="box-banner">
          <a class="db w-100" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="image/bra-d-banner-02.png" media="(min-width: 1024px)" />
                  <!-- tablet -->
                  <source srcset="image/bra-m-banner-02.png" media="(min-width: 768px)" />
                  <!-- mobile -->
                  <source srcset="image/bra-m-banner-02.png" />
                  <!-- desktop callback -->
                  <img class="lazyload w-100 db h-auto" src="image/bra-d-banner-02.png" alt="Brasforno"/>
              </picture>
          </a>
        </div>      
        <div class="box-banner">
          <a class="db w-100" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="image/bra-d-banner-03.png" media="(min-width: 1024px)" />
                  <!-- tablet -->
                  <source srcset="image/bra-m-banner-03.png" media="(min-width: 768px)" />
                  <!-- mobile -->
                  <source srcset="image/bra-m-banner-03.png" />
                  <!-- desktop callback -->
                  <img class="lazyload w-100 db h-auto" src="image/bra-d-banner-03.png" alt="Brasforno"/>
              </picture>
          </a>
        </div>
      </div>
    </section>

    <section class="w-100 bg-light-gray">
      <div class="_container">
        <div class="w-100 flex flex-wrap flex-column pv5">
            <h2 class="f3 tc dark-gray"> A Brasforno foi fundada em 1992</h2>
            <p class="f6 w-80-ns w-100 ph0-ns ph3 tc center mid-gray">A Brasforno foi fundada em 1992, nestes anos de existência a empresa vem sempre primando pela qualidade no atendimento e alta tecnologia nos equipamentos que produz e comercializa para a indústria alimentícia. Instalada em sede própria em área de 5.700 metros quadrados localizada na cidade de Santana do Parnaíba – São Paulo, a Brasforno conta em seu portfólio de produtos entre máquinas, fornos e acessórios com mais de 40 itens buscando sempre se adequar e atender a sua necessidade, tudo para oferecer o que existe de mais moderno para produção de produtos alimentícios.</p>
        </div>
        <div class="w-100 flex flex-wrap justify-around pb4">
            <div class="w-40-ns w-100 pr4-ns">
                <picture class="top-slider-img db">
                    <!-- desktop -->
                    <source srcset="image/bra-box-1.png" media="(min-width: 1024px)">
                    <!-- tablet -->
                    <source srcset="image/bra-box-1.png" media="(min-width: 768px)">
                    <!-- mobile -->
                    <source srcset="image/bra-box-1.png">
                    <!-- desktop callback -->
                    <img class="lazyload w-100 db h-auto" src="image/bra-box-1.png" alt="Brasforno">
                </picture>
            </div>
            <div class="w-60-ns w-100  bg-white flex flex-wrap items-center">
                <div class="w-100 ph4 pv0-ns pv4"><h4 class="f3 tl ma0 dark-gray">Fornos</h4>
                    <p class="f6 mb0">Fornos de alta tecnologia, essenciais para assar de rápida um grande volume de massas para pães, doces ou salgados.</p>
                </div>
            </div>
        </div>
        <div class="w-100 flex flex-wrap-ns flex-wrap-reverse justify-around pb4">
    
            <div class="w-60-ns w-100 bg-white flex flex-wrap items-center">
                <div class="w-100 ph4 pv0-ns pv4"><h4 class="f3 tr ma0 dark-gray">Maquinas</h4>
                    <p class="f6 tr">Conheça a nossa linha industrial, focada em quem busca alta produtividade e tecnologia para sua empresa.</p>
                </div>
            </div>
            <div class="w-40-ns w-100 pl4-ns">
                <picture class="top-slider-img db">
                    <!-- desktop -->
                    <source srcset="image/bra-box-2.png" media="(min-width: 1024px)">
                    <!-- tablet -->
                    <source srcset="image/bra-box-2.png" media="(min-width: 768px)">
                    <!-- mobile -->
                    <source srcset="image/bra-box-2.png">
                    <!-- desktop callback -->
                    <img class="lazyload w-100 db h-auto" src="image/bra-box-2.png" alt="Brasforno">
                </picture>
            </div>
        </div>
        <div class="w-100 flex flex-wrap justify-around pb5">
            <div class="w-40-ns w-100 pr4-ns">
                <picture class="top-slider-img db">
                    <!-- desktop -->
                    <source srcset="image/bra-box-3.png" media="(min-width: 1024px)">
                    <!-- tablet -->
                    <source srcset="image/bra-box-3.png" media="(min-width: 768px)">
                    <!-- mobile -->
                    <source srcset="image/bra-box-3.png">
                    <!-- desktop callback -->
                    <img class="lazyload w-100 db h-auto" src="image/bra-box-3.png" alt="Brasforno">
                </picture>
            </div>
            <div class="w-60-ns w-100  bg-white flex flex-wrap items-center">
                <div class="w-100 ph4 pv0-ns pv4"><h4 class="f3 tl ma0 dark-gray">Industriais</h4>
                    <p class="f6 mb0">Conheça a nossa linha industrial, focada em quem busca alta produtividade e tecnologia para sua empresa.</p>
                </div>
            </div>
        </div>
      </div>
    </section>

    <section class="w-100 pv5">
      <h4 class="dn">Video Exclusivo sobre a Brasforno</h4>
      <div class="_container flex flex-wrap">
        <img src="image/bra-d-banner-04.png" alt="Video Youtube">
      </div>
    </section>

    <section class="w-100 pb5">
      <h4 class="dn">Mídias Sociais</h4>
      <div class="_container flex flex-wrap justify-around">
          <div class="w-30-ns w-100 pb0-ns pb5">
            <a class="db link _bra-hover" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="image/bra-box-pdf.png" media="(min-width: 1024px)">
                  <!-- tablet -->
                  <source srcset="image/bra-box-pdf.png" media="(min-width: 768px)">
                  <!-- mobile -->
                  <source srcset="image/bra-box-pdf.png">
                  <!-- desktop callback -->
                  <img class="lazyload w-100 db h-auto" src="image/bra-box-pdf.png" alt="Brasforno">
              </picture>
              <div class="w-100 flex flex-wrap justify-center pv3">
                <strong class="f3 tc dark-gray flex flex-wrap flex-column justify-center">CATALOGO PDF</strong>      
              </div>
            </a>
          </div>
          <div class="w-30-ns w-100 pb0-ns pb5">
            <a class="db link _bra-hover" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="image/bra-box-feiras.png" media="(min-width: 1024px)">
                  <!-- tablet -->
                  <source srcset="image/bra-box-feiras.png" media="(min-width: 768px)">
                  <!-- mobile -->
                  <source srcset="image/bra-box-feiras.png">
                  <!-- desktop callback -->
                  <img class="lazyload w-100 db h-auto" src="image/bra-box-feiras.png" alt="Brasforno">
              </picture>
              <div class="w-100 flex flex-wrap justify-center pv3">
                <strong class="f3 tc dark-gray flex flex-wrap flex-column justify-center">FEIRAS</strong>      
              </div>
            </a>
          </div>
          <div class="w-30-ns w-100">
            <a class="db link _bra-hover" href="/">
              <picture class="top-slider-img db">
                  <!-- desktop -->
                  <source srcset="image/bra-box-insta.png" media="(min-width: 1024px)">
                  <!-- tablet -->
                  <source srcset="image/bra-box-insta.png" media="(min-width: 768px)">
                  <!-- mobile -->
                  <source srcset="image/bra-box-insta.png">
                  <!-- desktop callback -->
                  <img class="lazyload w-100 db h-auto" src="image/bra-box-insta.png" alt="Brasforno">
              </picture>
              <div class="w-100 flex flex-wrap justify-center pv3">
                <strong class="f3 tc dark-gray flex flex-wrap flex-column justify-center">INSTAGRAM</strong>      
              </div>
            </a>
          </div>
      </div>
    </section>

    <section>
      <div class="bra-wh fixed flex flex-wrap items-center bottom-2 right-2">
        <p class="flex justify-center items-center bg-white tc pv2 relative">WhatsApp</p>
        <div class="bra-wh-icon flex flex-wrap justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="wh-messenger-svg-whatsapp wh-svg-icon"><path d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd"></path></svg></div>
      </div>
    </section>
</main>
<%-include('partials/footer') -%>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="javascript/bra-lazysizes.min.js"></script>
<script defer src="javascript/bra-main.min.js"></script>
</body>
</html>