<section class="_bra-country mb5">
    <div class="_container"  data-group="_bra-region">
      <h3 class="db tc tl-l f3 ttu mt3 mb3">Regiões onde a Brasforno atende:</h3>
      <span class="_bra-line center ml0-l mv3 db bg-yellow"></span>
      <div class="_bra-state-nav flex flex-wrap">
        <span class="_bra-state-item active" data-click="centro-sp">Centro SP</span>
        <span class="_bra-state-item" data-click="zona-norte-sp">Zona Norte SP</span>
        <span class="_bra-state-item" data-click="zona-leste-sp">Zona Leste SP</span>
        <span class="_bra-state-item" data-click="zona-sul-sp">Zona Sul SP</span>
        <span class="_bra-state-item" data-click="zona-oeste-sp">Zona Oeste SP</span>
        <span class="_bra-state-item" data-click="grande-sp">Grande SP</span>
        <span class="_bra-state-item" data-click="interior-sp">Interior SP</span>
      </div>
      <div class="flex flex-wrap">
        <div class="_bra-state-list bg-light-gray flex flex-wrap relative w-100 f6 active" data-target="centro-sp">
          <ul class="list pa0 flex flex-wrap ma0">
            <li>São Paulo</li>
            <li>Sé</li>
            <li>Santa Efigênia</li>
            <li>República</li>
            <li>Centro</li>
            <li>Bom Retiro</li>
            <li>Barra Funda</li>
            <li>Luz</li>
            <li>Ponte Pequena</li>
            <li>Vila Buarque</li>
            <li>Santa Cecília</li>
            <li>Pacaembu</li>
            <li>Suamré</li>
            <li>Higienópolis</li>
            <li>Consolação</li>
            <li>Bela Vista</li>
            <li>Jardins</li>
            <li>Cerqueira César</li>
            <li>JD Paulista</li>
            <li>JD. América</li>
            <li>JD Europa</li>
            <li>Liberdade</li>
            <li>Cambuci</li>
            <li>Aclimação</li>
            <li>Vila Monumento</li>
            <li>JD da Glória</li>
          </ul>
        </div>
        <div class="_bra-state-list bg-light-gray flex flex-wrap relative w-100 f6" data-target="zona-norte-sp">
          <ul class="list pa0 flex flex-wrap ma0">
            <li>Santana</li>
            <li>Carandiru</li>
            <li>VL. Guilherme</li>
            <li>JD São Paulo</li>
            <li>Vila Maria</li>
            <li>PQ Novo Mundo</li>
            <li>JD Japão</li>
            <li>Tucuruvi</li>
            <li>Jaçanã</li>
            <li>PQ Edu chaves</li>
            <li>VL Medeiros</li>
            <li>VL. Edi</li>
            <li>JD. Tremembé</li>
            <li>Barro Branco</li>
            <li>Água Fria</li>
            <li>Mandaqui</li>
            <li>Imirim</li>
            <li>Lausane Paulista</li>
            <li>Santa Terezinha</li>
            <li>Casa Verde</li>
            <li>Parque Peruche</li>
            <li>Vila Nova Cachoeirinha</li>
            <li>JD Peri Peri</li>
            <li>Limão</li>
            <li>Nossa Senhora do Ó</li>
            <li>itaberaba</li>
            <li>Brasilandia</li>
            <li>Morro Grande</li>
            <li>Freguesia do Ó</li>
            <li>Pirituba</li>
            <li>Piqueri</li>
          </ul>
        </div>
        <div class="_bra-state-list bg-light-gray flex flex-wrap relative w-100 f6" data-target="zona-leste-sp">
          <ul class="list pa0 flex flex-wrap ma0">
            <li>Brás</li>
            <li>Belenzinho</li>
            <li>Belém</li>
            <li>Pari</li>
            <li>Canindé</li>
            <li>Catumbi</li>
            <li>PQ São Jorge</li>
            <li>Mooca</li>
            <li>Alto da Mooca</li>
            <li>VL. Prudente</li>
            <li>A. Rosa</li>
            <li>Quarta Parada</li>
            <li>Parque da Mooca</li>
            <li>VL Zelina</li>
            <li>VL. Ema</li>
            <li>PQ São Lucas</li>
            <li>VL Alpina</li>
            <li>Sapopemba</li>
            <li>Tatuapé</li>
            <li>VL. Formosa</li>
            <li>JD Colorado</li>
            <li>VL. Gomes Cardim</li>
            <li>JD Anália Franco</li>
            <li>VL. Carrão</li>
            <li>Carrãozinho</li>
            <li>VL. Matilde</li>
            <li>Cidade Patriarca</li>
            <li>Artur Alvim</li>
            <li>Penha</li>
            <li>VL. Esperança</li>
            <li>VL. Ré</li>
            <li>Cidade A. E. Carvalho</li>
            <li>Cangaíba</li>
            <li>Engenho Goulart</li>
            <li>Ponte Rasa</li>
            <li>Ermelino Matarazzo</li>
            <li>VL. Paranaguá</li>
            <li>São Mateus</li>
            <li>Iguaçu</li>
            <li>São Miguel Paulista</li>
            <li>Itaim Paulista</li>
            <li>Itaquera</li>
            <li>São Mateus</li>
            <li>Guaianazes</li>
          </ul>
        </div>
        <div class="_bra-state-list bg-light-gray flex flex-wrap relative w-100 f6" data-target="zona-sul-sp">
          <ul class="list pa0 flex flex-wrap ma0">
            <li>Vila Mariana</li>
            <li>Vila Clementino</li>
            <li>Paraíso</li>
            <li>Indianópolis</li>
            <li>Moema</li>
            <li>Planalto Paulsta</li>
            <li>Mirandópolis</li>
            <li>JD. Glória</li>
            <li>Saúde</li>
            <li>Água Funda</li>
            <li>VL. Mercês</li>
            <li>VL. Livero</li>
            <li>Ipiranga</li>
            <li>VL. Carioca</li>
            <li>Sacomâ</li>
            <li>Moinho Velho</li>
            <li>São João Climaco</li>
            <li>Jabaquara</li>
            <li>JD Aeroporto</li>
            <li>VL. Santa Catarina</li>
            <li>VL. Guarani</li>
            <li>VL Mascote</li>
            <li>Cidade Ademar</li>
            <li>Pedreira</li>
            <li>jD Miriam</li>
            <li>Americanópolis</li>
            <li>Brooklin Novo</li>
            <li>Itaim Bibi</li>
            <li>VL. Olimpia</li>
            <li>Moema</li>
            <li>VL. Nova Conceição</li>
            <li>Campo Belo</li>
            <li>Aeroporto</li>
            <li>Cidade Ademar</li>
            <li>Campo Grande</li>
            <li>Santo Amaro</li>
            <li>Chacara Santo Antonio</li>
            <li>Gamja julieta</li>
            <li>Socorro</li>
            <li>Veleiros</li>
            <li>Cidade Dutra</li>
            <li>Rio Bonito</li>
            <li>PQ Grajau</li>
            <li>Parelheiros</li>
            <li>Guarapiranga</li>
            <li>Capela do Socorro</li>
            <li>JD Bonfiglioli</li>
            <li>Cidade Jardim</li>
            <li>Morumbi</li>
            <li>VL. Sônia</li>
            <li>JD Guedala</li>
            <li>JD Leonor</li>
            <li>Real Parque</li>
            <li>Campo Limpo</li>
            <li>Pirajuçara</li>
            <li>Capão Redondo</li>
            <li>VL. Da beleza</li>
          </ul>
        </div>
        <div class="_bra-state-list bg-light-gray flex flex-wrap relative w-100 f6" data-target="zona-oeste-sp">
          <ul class="list pa0 flex flex-wrap ma0">
            <li>Lapa</li>
            <li>Perdizes</li>
            <li>Água Branca</li>
            <li>Alto da Lapa</li>
            <li>VL. Anastácia</li>
            <li>Pompéia</li>
            <li>VL. Romana</li>
            <li>Pirituba</li>
            <li>VL. Jaguara</li>
            <li>PQ São Domingos</li>
            <li>Perus</li>
            <li>Jaragua</li>
            <li>VL. Leopoldina</li>
            <li>Ceasa</li>
            <li>Jaguaré</li>
            <li>Rio Pequeno</li>
            <li>VL Hamburguesa</li>
            <li>VL. Remediios</li>
            <li>Pinheiros</li>
            <li>VL. Madalena</li>
            <li>Alto de pinheiros</li>
            <li>Butantã</li>
            <li>Caxingui</li>
            <li>Cidade Universitária</li>
            <li>JD Peri Peri</li>
          </ul>
        </div>
        <div class="_bra-state-list bg-light-gray flex flex-wrap relative w-100 f6" data-target="grande-sp">
          <ul class="list pa0 flex flex-wrap ma0">
            <li>Osasco</li>
            <li>Carapicuíba</li>
            <li>Barueri</li>
            <li>Santana do Parnaíba</li>
            <li>Itapevi</li>
            <li>Jandira</li>
            <li>Cotia</li>
            <li>Vargem Grande Paulista</li>
            <li>Taboão da Serra</li>
            <li>Embu</li>
            <li>Itapecirica da Serra</li>
            <li>Embu-Guaçu</li>
            <li>Guarulhos</li>
            <li>Arujá</li>
            <li>Santa Isabel</li>
            <li>Mairiporã</li>
            <li>Caieiras</li>
            <li>Cajamar</li>
            <li>Jordanesia</li>
            <li>Polvilho</li>
            <li>Franco da Rocha</li>
            <li>Francisco Morato</li>
            <li>São Miguel Paulista</li>
            <li>Itaim Paulista</li>
            <li>Itaquera</li>
            <li>São Mateus</li>
            <li>Guaianazes</li>
            <li>Ferraz De Vasconcelos</li>
            <li>Poá</li>
            <li>Itaquaquecetuba</li>
            <li>Suzano</li>
            <li>Mogi das Cruzes</li>
            <li>Guararema</li>
            <li>Santo André</li>
            <li>Mauá</li>
            <li>Ribeirão Pires</li>
            <li>Rio Grande da Serra</li>
            <li>São Caetano do Sul</li>
            <li>São Bernardo do Campo</li>
            <li>Diadema</li>
          </ul>
        </div>
        <div class="_bra-state-list bg-light-gray flex flex-wrap relative w-100 f6" data-target="interior-sp">
          <ul class="list pa0 flex flex-wrap ma0">
            <li>Americana</li>
            <li>Amparo</li>
            <li>Andradina</li>
            <li>Araçatuba</li>
            <li>Araraquara</li>
            <li>Araras</li>
            <li>Arujá</li>
            <li>Assis</li>
            <li>Atibaia</li>
            <li>Avaré</li>
            <li>Barretos</li>
            <li>Barueri</li>
            <li>Bauru</li>
            <li>Bebedouro</li>
            <li>Birigui</li>
            <li>Botucatu</li>
            <li>Bragança Paulista</li>
            <li>Caçapava</li>
            <li>Campinas</li>
            <li>Campo Limpo Paulista</li>
            <li>Caraguatatuba</li>
            <li>Carapicuíba</li>
            <li>Catanduva</li>
            <li>Cotia</li>
            <li>Cruzeiro</li>
            <li>Cubatão</li>
            <li>Diadema</li>
            <li>Embu Das Artes</li>
            <li>Ferraz De Vasconcelos</li>
            <li>Franca</li>
            <li>Francisco Morato</li>
            <li>Franco Da Rocha</li>
            <li>Guaratinguetá</li>
            <li>Guarujá</li>
            <li>Guarulhos</li>
            <li>Hortolândia</li>
            <li>Indaiatuba</li>
            <li>Itapecerica Da Serra</li>
            <li>Itapetininga</li>
            <li>Itapeva</li>
            <li>Itapevi</li>
            <li>Itapira</li>
            <li>Itaquaquecetuba</li>
            <li>Itatiba</li>
            <li>Itu</li>
            <li>Jaboticabal</li>
            <li>Jacareí</li>
            <li>Jales</li>
            <li>Jandira</li>
            <li>Jandira</li>
            <li>Jau</li>
            <li>Jundiaí</li>
            <li>Leme</li>
            <li>Lençóis Paulista</li>
            <li>Limeira</li>
            <li>Lins</li>
            <li>Lorena</li>
            <li>Marilia</li>
            <li>Matão</li>
            <li>Mauá</li>
            <li>Mogi Das Cruzes</li>
            <li>Mogi Guaçu</li>
            <li>Osasco</li>
            <li>Ourinhos</li>
            <li>Paulinia</li>
            <li>Piracicaba</li>
            <li>Pirassununga</li>
            <li>Poá</li>
            <li>Praia Grande</li>
            <li>Presidente Prudente</li>
            <li>Ribeirão Pires</li>
            <li>Ribeirão Preto</li>
            <li>Rio Claro</li>
            <li>Salto</li>
            <li>Santa Barbara D Oeste</li>
            <li>Santana De Parnaíba</li>
            <li>Santo André</li>
            <li>Santos</li>
            <li>São Bernado Do Campo</li>
            <li>São Caetano Do Sul</li>
            <li>São Carlos</li>
            <li>São João Da Boa Vista</li>
            <li>São José Do Rio Preto</li>
            <li>São José Dos Campos</li>
            <li>São Paulo</li>
            <li>São Roque</li>
            <li>São Vicene</li>
            <li>Sertazinho</li>
            <li>Sorocaba</li>
            <li>Sumaré</li>
            <li>Suzano</li>
            <li>Taboão Da Serra</li>
            <li>Tatuí</li>
            <li>Taubate</li>
            <li>Tupã</li>
            <li>Valinhos</li>
            <li>Várzea Paulista</li>
            <li>Votorantin</li>
            <li>Votuporanga I</li>
          </ul>
        </div>
      </div>
    </div>
  </section>