._bra{
    &-state-list{
        display: none;
        padding: 10px 0;
        border-radius: 0 0 5px 5px;
        &.active {
            display: block;
        }
        ul li {
            padding: 5px 10px;
        }
    }
    &-state-item {
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        font-size: 15px;
        padding: 10px;
        &.active {
            background-color: #e6e6e6;
        }
    }
    &-productCarrousel{
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;
        overflow: hidden;
        height: 0;
        position: fixed;
        top: 0;
        &._active{
            height: 100%;
        }
        &-nav{
            li {
                cursor: pointer;
                &:hover::before {                    
                    opacity: 1; 
                }
                &:before {  
                    opacity: 0;                  
                    background-color: rgba(0, 0, 0, 0.3);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs/%3E%3Cpath fill='%23FFF' d='M506.141 477.851L361.689 333.399c65.814-80.075 61.336-198.944-13.451-273.73-79.559-79.559-209.01-79.559-288.569 0s-79.559 209.01 0 288.569c74.766 74.766 193.62 79.293 273.73 13.451l144.452 144.452c7.812 7.812 20.477 7.812 28.289 0 7.813-7.813 7.813-20.478.001-28.29zM319.949 319.948c-63.96 63.96-168.03 63.959-231.99 0-63.96-63.96-63.96-168.03 0-231.99 63.958-63.957 168.028-63.962 231.99 0 63.96 63.96 63.96 168.03 0 231.99z' class='active-path' data-old_color='%23000000' data-original='%23000000'/%3E%3Cpath fill='%23FFF' d='M301.897 183.949h-77.94v-77.94c0-11.048-8.956-20.004-20.004-20.004-11.048 0-20.004 8.956-20.004 20.004v77.94h-77.94c-11.048 0-20.004 8.956-20.004 20.004 0 11.048 8.956 20.004 20.004 20.004h77.94v77.94c0 11.048 8.956 20.004 20.004 20.004 11.048 0 20.004-8.956 20.004-20.004v-77.94h77.94c11.048 0 20.004-8.956 20.004-20.004 0-11.048-8.956-20.004-20.004-20.004z' data-old_color='%23000000' data-original='%23000000'/%3E%3C/svg%3E");
                    transition: .5s all;
                    background-size: 50px;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    transition: .5s all;
                }
            }
        }
        .slick-list {
            height: 100%;
            @media (min-width: 960px) {
                margin: 0 auto;
                width: auto;
                height: 500px;
                img{
                    height: 500px;
                    width: auto !important;
                }
            }
        }
        .slick-arrow {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 443.52 443.52'%3E%3Cdefs/%3E%3Cpath fill='%23FFF' d='M143.492 221.863L336.226 29.129c6.663-6.664 6.663-17.468 0-24.132-6.665-6.662-17.468-6.662-24.132 0l-204.8 204.8c-6.662 6.664-6.662 17.468 0 24.132l204.8 204.8c6.78 6.548 17.584 6.36 24.132-.42 6.387-6.614 6.387-17.099 0-23.712L143.492 221.863z' class='active-path' data-old_color='%23000000' data-original='%23000000'/%3E%3C/svg%3E");
            border: 0;
            background-color: unset;
            cursor: pointer;
            font-size: 0;
            padding: 0;
            height: 30px;
            width: 30px;
            position: absolute;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            @media (min-width: 960px) {
                height: 50px;
                width: 50px;
            }
        }
        .slick-next {
            right: 25px;
            transform: rotate(-180deg);
        }
        .slick-prev {
            left: 25px;
        }
        .slick-track {
            position: relative;
            top: 50%;
            margin-top: -150px;
            @media (min-width: 960px) {
                top: 0;
                margin-top: 0;
                height: 100%;
            }
        }
        .slick-slide{
            height: 100%;
            div{
                display: flex !important;
                flex-wrap: wrap;
                justify-content: center;
                height: 100%;
            }
        }
    }
}